@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  background-color: white;
  font-family: "Roboto", "sans-serif" !important;
}

.intro-section {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.btn-success,
.btn-outline-dark {
  border-radius: 0 !important;
}


.featured-section {
  background-color: #f8fdfb;
}

.featured-section h3 {
  font-weight: 700;
}
.featured-section .btn {
  border-radius: 0;
  padding: 6px 14px;
}

.text-success {
  margin-top: 12px !important;
  font-size: 35px !important;
}
